.chat-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}


/* ZONA DE SIDEBAR DEL JUEGOaaaaaaa */

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #4c4c5c;
    width: 20%;
    height: 100vh; /* Full viewport height */
    padding: 16px;
}

/* SIDEBAR: Avatar y nombre de usuario */
.sidebar-avatar-box{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar-avatar {
    width: 60px !important;
    height: 60px !important;
    margin-bottom: 1rem;
}

.sidebar-username {
    font-weight: bold;
    color: white;
    font-size: 1.1rem !important
}

/* SIDEBAR: Niveles */
.sidebar-level-box {
    flex-grow: 1;          /* Fill available vertical space */
    overflow-y: auto;      /* Scroll if too many levels */

}

.sidebar-level-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 1 auto;  /* Allow items to shrink if needed */
    padding: 4px 0; 

}

.sidebar-level-avatar{ 
    width: clamp(20px, 6vw, 30px) !important;   /* Dynamically resize avatar */
    height: clamp(20px, 6vw, 30px) !important;
    margin-right: 0.5rem;
    cursor: pointer;
}

.sidebar-level-text {
    font-size: 1rem !important;
    color: white;
    cursor: pointer;
}

.sidebar-disabled .sidebar-level-avatar,
.sidebar-disabled .sidebar-level-text {
  opacity: 0.5;
  cursor: not-allowed;
}

.sidebar-level-status{
    font-size: 0.85rem !important;;
    font-weight: bold;
    display: flex;
    align-items: center;
    opacity: 1;
}


.sidebar-level-status.green {
  color: rgb(16, 211, 16);
  cursor: pointer;
}

.sidebar-level-status.red {
  color: rgb(255, 0, 0);
  cursor: not-allowed;

}

/* SIDEBAR: Desafio */

.sidebar-challenge-box{
    margin-top: auto;       
    text-align: center;    
    cursor: pointer;
}

.sidebar-challenge-text {
    font-size: 1.5rem !important; 
    color: white;        
    margin-top: 4px;    
    text-align: center; 
}

.sidebar-challenge-icon{
    font-size: 3rem !important;
    color: #e6e609;
}

/* ZONA DE CHAT DEL JUEGO */

.chat-area {
    background-color: #d9dbea ;
    width: 60%;
    display: flex;              /* ← importante */
    flex-direction: column;     /* ← permite dividir header, mensajes, botón */
    height: 100vh;
    border: 2px solid; 
    border-color : rgb(109, 109, 109)
}

.chat-header {
    background-color: #f2f3f9;
    height: 7%;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.chat-messages {
    flex: 1;  
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 80%;
    padding-right: 8px;
    margin-bottom: 16px;
}

.chat-bubble {
    background-color: #6D9C5CDD !important;
    color: white !important;
    padding: 16px;
    border-radius: 16px !important;
    margin-bottom: 16px;
    margin-left: 16px;
    max-width: 50%;
}
.chat-bubble p {
  white-space: pre-line;
}

.activity-bubble {
    padding: 16px;
    border-radius: 16px !important;
    margin-bottom: 16px;
    max-width: 40%;
}

.activity-bubble-button {
    background-color: #74D5E4 !important;
    color: black !important;
    padding: 16px;
    border-radius: 16px !important;
    margin-bottom: 16px;
    max-width: 40%;
}